<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link href="{{ static("css/style.css") }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ static("favicon.ico") }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ static("css/bootstrap.min.css")}}">
    <!-- jQuery -->
    <script type="text/javascript" src="{{ static("js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/jquery.validate.min.js") }}"></script>

    <title>Telemetry Self-Serve Data Analysis</title>
    {% endblock %}
    {{ browserid_css() }}
    <!--{{ browserid_js() }}-->
    <script type="text/javascript" src="https://login.persona.org/include.orig.js"></script>
    <script type="text/javascript" src="/static/browserid/api.js"></script>
    <script type="text/javascript" src="/static/browserid/browserid.js"></script>
  </head>
  <body role="document">
    {{ browserid_info() }}

    {% block content %}
    {% endblock %}

    {% csrf_token %}
  </body>
</html>
