{% extends "analysis_service/base.jinja" %}
{% block head_extra %}
<link href="{{ static("css/dashboard.css") }}" rel="stylesheet" />
<script type="text/javascript" src="{{ static("js/dashboard.js") }}" rel="stylesheet"></script>
{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Telemetry Data Analysis</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="//github.com/mozilla/telemetry-server" target="_blank">Contribute</a></li>
        <li><a href="#">Documentation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.email }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li>{{ browserid_logout(text='Log Out', next='/login') }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Launch a Spark Cluster</h2>
      <p>Launch a Spark cluster in the cloud and use it for custom data analysis. The cluster will be available for 24 hours, then it will be automatically terminated.</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Number of workers</th>
            <th>Created on</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for cluster in active_clusters %}
          <tr>
            <td>{{ cluster.identifier }}</td>
            <td>{{ cluster.size }}</td>
            <td>{{ cluster.start_date }}</td>
            <td>{{ cluster.most_recent_status }}</td>
          </tr>
          {% endfor %}
          {% if not active_clusters %}
          <tr><td colspan="4">No active clusters to show.</td></tr>
          {% endif %}
        </tbody>
      </table>
      {% include 'analysis_service/new-cluster.jinja' %}
    </div>
    <div class="col-md-6 dashboard-action">
      <h2>Schedule a Spark Job</h2>
      <p>Run a Spark analysis on a scheduled basis. The output of the analysis will be published in Amazon S3.</p>
      <p class="lead">
        <a href="">
          <img width="48" src="{{ static("img/schedule.png") }}" />
          Schedule a Spark analysis job
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Launch a Worker</h2>
      <p>Launch a server in the cloud and use it for custom map-reduce data analysis. The machine will be available for 24 hours, then it will be automatically terminated.</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Created on</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in active_workers %}
          <tr>
            <td>{{ worker.identifier }}</td>
            <td>{{ worker.start_date }}</td>
          </tr>
          {% endfor %}
          {% if not active_workers %}
          <tr><td colspan="3">No active workers to show.</td></tr>
          {% endif %}
        </tbody>
      </table>
      {% include 'analysis_service/new-worker.jinja' %}
    </div>
    <div class="col-md-6">
      <h2>Schedule a Job</h2>
      <p>Run a map-reduce telemetry analysis on a scheduled basis. The output of the analysis will be published in Amazon S3.</p>
      <p class="lead">
        <a href="">
          <img width="48" src="{{ static("img/schedule.png") }}" /> Schedule an analysis job
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>View aggregated data</h2>
      <p>Open the telemetry dashboards hub to view aggregate data.</p>
      <p class="lead">
        <a href="https://telemetry.mozilla.org/">
          <img width="48" src="{{ static("img/dashboards.png") }}" /> Go to telemetry dashboards
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
